# Database Configuration
DB_URL=jdbc:postgresql://localhost:5432/mamikos_db
DB_USERNAME=postgres
DB_PASSWORD=admin

# JPA / Hibernate Configuration
DB_DDL_AUTO=update
DB_SHOW_SQL=true

# JWT Configuration (Must be at least 256 bits / 32 bytes encoded in Base64 or plain text)
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_EXPIRATION=86400000

